.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(79,79,79,0.7);
    z-index: 10;
    transition: visibility 0.3s linear,opacity 0.3s linear;
    visibility: hidden;
    opacity: 0;

}
.modal-content {
    width: 100%;
    max-width: 90%;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}
.modal-content .mini-header{
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.modal-content h5{
    display: inline-block;
    /* width: 100%; */
    padding: 5px;
    font-size: 1.2em;
    text-align: left;
    font-weight: lighter;
}

.modal-content img{
    width: 250px;
    margin: 3px 0;
}
.modal-content .close{
    display: inline-block;
    width: 30px;
    cursor: pointer;
}
.modal-content .close img{
    display: inline-block;
    width: 30px;
}
.modal-content p{
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 20px;
}
.buy{
    width: 200px;
    height: 40px;
    line-height:40px;
    border-radius: 8px;
    background-color: rgb(17,195,62);
    cursor: pointer;
    float: right;
    margin-right: 60px;
}
.buy p{
    color: white;
    font-weight: 400;
}
.buy:hover{
    background-color: hsl(135, 85%, 35%);
}
.tabla {
    display: block;
    max-width: 90%;
    margin: 10px auto;
    max-height: 80vh;
    overflow-y: auto;
    font-weight: lighter;
    /* font-size: 0.8em; */
}

table {
    width: 100%;
    text-align: center;

}

table,
tr,
td,
th {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}
th{
    padding: 5px;
}
td{
    font-size: 0.9em;
}
.tabla img {
    max-width: 70px;
}
td:last-child, td:nth-child(4){
    text-align: right;
    padding-right: 10px;
}
