* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header#principal {
    position: fixed;
    width: 100%;
    height: 70px;
    min-height: 70px;
    background-color: black;
    top: 0;
    z-index: 1;
}

header#principal h1 {
    color: white;
    padding-top: 15px;
    margin: auto;
}
header#principal img{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
header .contador{
    position: absolute;
    right: 10px;
    top: 40px;
    width: 20px;
    height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: gray;
    color: white;
    border-radius: 50%;
    z-index: 10;
    text-align: center;
    font-size: 11px;
    padding-top: 2.5px;
}
#agrego {
    margin: 20px auto;
    width: 98%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid black;
}

#agrego .lblclass {
    float: left;
    width: 170px;
    margin-top: 12px;
}

#agrego input[type="text"] {
    width: 300px;
    max-width: 100%;
    padding: 5px;
    margin-top: 10px;
}

#agrego input[type="button"] {
    display: block;
    padding: 10px;
    width: 150px;
    margin: 10px 20px;
    cursor: pointer;
}

#agrego h2 {
    float: left;
    width: 100%;
    text-align: center;
    margin: auto;
}

#producto {
    position: static;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#producto article {
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 20px;
    position: relative;
}

#producto .imagen {
    width: 280px;
    margin: auto;
}

#producto h3 {
    margin-bottom: 10px;
}

#producto p{
    font-size: small;
}
.sumo img {
    width: 100%;
}

.sumo {
    position: absolute;
    top: 100px;
    right: 0;
    height: 35px;
    width: 35px;
    cursor: pointer;
    border: 1px solid #80D261;
    border-radius: 50%;
    padding: 5px;
    transition: transform 0.2s;
}
.sumo:hover {
    transform: scale(1.3);
}
.contenedor {
    margin: auto;
    width: 98%;
}
/*----------ESTILOS DE RESULTADOS HTML-------------*/
header {
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 70px;
    background-color: blueviolet;
    top: 0;
}

header h1 {
    color: white;
}

.listado {
    margin-top: 100px;
    width: 100%;
}

.tabla {
    display: block;
    max-width: 90%;
    margin: auto;
}

table {
    width: 100%;
    text-align: center;
}

table,
tr,
td,
th {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.tabla img {
    max-width: 100px;
}

h1 {
    margin-top: 10px;
    text-align: center;
}

header input[type="button"] {
    position: fixed;
    top: 15px;
    right: -15px;
    display: inline-block;
    padding: 10px;
    width: 70px;
    /* margin: 10px 20px; */
    cursor: pointer;
    transform: rotate(270deg);
}

.botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cuadradito{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    line-height: 17px;
}
.cuadradito:hover{
    background-color: #ccc;
}
.tabla div{
    display: inline-block;
}
.cuadradito:hover{
    cursor: pointer;
}